body{
  background: $theme--clr-gray;
  //position: relative;
  z-index:9;
  &:before{
    content: '';
    @include position(absolute,0,0,0,0);
    height: $du*200;
    width: 100%;
    background: $theme--clr-dark;
    z-index: -1;
  }
  // *{
  //   z-index: 999;
  // }
  header{
    padding: $du--pm*2 $null;
    @extend .c--center;
    //background-color:$theme--clr-1;
    h1{
    //@include grid-column(3);
    }
  }
  .maincontent{
    background-color:$theme--clr-bright;
    padding: $du--pm;
    @extend .c--center;
    @include border-radius($du*2);
    margin-bottom: $du*15;
  }
  footer{
    background-color:$theme--clr-bright;
    padding: $du--pm;
    @extend .c--center;
    @include border-radius($du*2);
    .brand-details{
      h5{
        float: left;
        vertical-align: middle;
        display: inline-block;
        width: 49%;
        padding: $du*10 $null;
        text-align: right;
        font-size: $du*9;
      }
      .footer-logo{
        float: right;
        background-color: $theme--clr-dark;
        padding: $du*5;
        img{
          width: $du*100;
        }
      }
    }

  }
}
