body{
  background: $theme--clr-gray;
  height: 100%;
  z-index:9;
  &:before{
    content: '';
    @include position(absolute,0,0,0,0);
    height: $du*200;
    width: 100%;
    background: $theme--clr-dark;
    z-index: -1;
  }
  header{
    padding: $du--pm*2 $null;
    @extend .c--center;

  }
  .maincontent{
    background-color:$theme--clr-bright;
    padding-top: $du--pm;
    padding-bottom: $du--pm;
    padding-left:$du--pm;
    padding-right:$du--pm;
    @extend .c--center;
    @include border-radius($du*2);
    margin-bottom: $du*15;
    overflow-y: scroll;
  }
  footer{
    background-color:$theme--clr-bright;
    padding: $du--pm;
    @extend .c--center;
    @include border-radius($du*2);
  }
}
