body{
  background: $theme--clr-gray;
  //position: relative;
  z-index:9;
  &:before{
    content: '';
    @include position(absolute,0,0,0,0);
    height: $du*200;
    width: 100%;
    background: $theme--clr-dark;
    z-index: -1;
  }
  // *{
  //   z-index: 999;
  // }
  header{
    padding: $du--pm*2 $null;
    @extend .c--center;
    //background-color:$theme--clr-1;
    h1{
    //@include grid-column(3);
    }
  }
  .maincontent{
    background-color:$theme--clr-bright;
    padding-top: $du--pm;
    padding-bottom: $du--pm;
    padding-left:$du--pm;
    padding-right:$du--pm;
    //@extend .container-fluid;
    @extend .c--center;
    @include border-radius($du*2);
    margin-bottom: $du*15;
    //max-width: 96.5%;
  }
  footer{
    background-color:$theme--clr-bright;
    padding: $du--pm;
    @extend .c--center;
    @include border-radius($du*2);
  }
}
