$theme--clr-1:#4C89FC;
$theme--clr-2:#00D029;
$theme--clr-3:#FC5461;
$theme--clr-4:#FEBF02;

$theme--clr-dark:#030521;
$theme--clr-semidark:#cccccc;
$theme--clr-bright:#ffffff;
$theme--clr-gray:#eeeeee;

$null:0;
$du:2px;
$du--pm:$du*10;
